// Colors
$text: #333;
$color-1: #303850;
$color-2: #ff4648;
$color-3: #3ea7c7;
$color-4: #ede8de;


// Screen size
$descktop: 1200px;
$notebook: 1024px;
$tablet: 768px;
$mobile: 480px;
$mobile-sm: 320px;
